<select
  class="form-select mb-3"
  [(ngModel)]="selectedEmployeeName"
  (change)="onEmployeeChange()"
>
  <option value="">All Employees</option>
  <option
    *ngFor="let employee of employees"
    [value]="employee.firstName + ' ' + employee.lastName"
  >
    {{ employee.firstName }} {{ employee.lastName }}
  </option>
</select>

<table class="table">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Full Name</th>
      <th>Application</th>
      <th>Action</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of history; trackBy: trackById">
      <td>{{ r.employeeId }}</td>
      <td>{{ r.employeeName }}</td>
      <td>{{ r.applicationName }}</td>
      <td>{{ r.action }}</td>
      <td>{{ r.note }}</td>
    </tr>
  </tbody>
</table>
